h1{
    font-family: "Century Gothic";
    justify-content: center;
    align-content: center;
    font-size: 30px;
}

*{
    font-family: "Verdana";
    font-size: 20px;
}
#innerbox{
    position: relative;
    z-index: 1;
    margin: 30px;
    opacity: 100%;
}

img{
    opacity: 0.6;
    z-index: -1;
    position: absolute;
    width:100%;
    max-height:100%;
}

body{
    margin:0;
    padding: 0;
}

#submitbutton{
    border-radius: 5px;
}

option{
    font-size: 15px;
}

input{
    font-size: 17px;
}

#MRT_LRT{
    font-size: 17px;
}
.row {
    margin: 0px 0px 0px 0px;
}

#buttons{
    float:right;
}
#buttons_col
{
    padding-right:0px;
}
#map_col
{
    padding-left: 0px;
}
.btn
{
    text-align: right;
}
